background:linear-gradient(315deg, #ff0057, #e64a19)
background:linear-gradient(315deg, #89ff00, #00bcd4)
background:linear-gradient(315deg, #e91e63, #5d02ff)
background:linear-gradient(315deg, #ff0000, #ffc107)

wow: #ff0057;
neat: #21ebff
well: #03A9F4
g: rgba(0,242,254,.8)
rgba(79,172, 254, 0.8)
/* we are cloning our site */
#64FFDA
main:#0A192F
text:#CCD6F6
boxes:#172A45
box:#2F3B54
bg:#1D2433
footer:#020C1B
footer text color:#A8B2D1
header,footer #081C24 super, txt #6F797D grey, logo #01D277green